.colour_bg {
    background-color: #0a0e0f;
}

.colour_primary {
    background-color: #6556ff;
}

.colour_secondary {
    background-color: #a7e7f8; 
}

.colour_tertiary {
    background-color: #c1f13a;
}